<html>
  <body>
    <h2>Add a New Pool</h2>
    <h3><%= Helper.current_user(session).username %>
    <form action="/pools" method="POST">
      <h2>Client Info</h2>
 <!-- full-name input-->
      <label>Full Name</label>
        <input id="full-name" name="full-name" type="text" placeholder="full name" class="input-xlarge">
 <!-- address-line1 input-->
      <label>Address Line 1</label>
        <input id="address-line1" name="address-line1" type="text" placeholder="address line 1" class="input-xlarge">
  <!-- address-line2 input-->
       <label>Address Line 2</label>
        <input id="address-line2" name="address-line2" type="text" placeholder="address line 2" class="input-xlarge">               
  <!-- city input-->
      <label>City</label>
        <input id="city" name="city" type="text" placeholder="city" class="input-xlarge">
  <!-- region input-->
      <label>State / Province / Region</label>
        <input id="region" name="region" type="text" placeholder="state / province / region" class="input-xlarge">
  <!-- postal-code input-->
      <label>Zip / Postal Code</label>
        <input id="postal-code" name="postal-code" type="text" placeholder="zip or postal code" class="input-xlarge">
      <input type="submit" value="submit">
      </form>
      <form action="/pools" method="GET">
  		  <input type="submit" value="All Pools" />
	  </form>
  </body>
</html>