<html>
  <body>
    <h1>Welcome to the Pool Tracker</h1>
      <h3>If you do not have an account, please create one below</h3><h4><a href="/signup">Sign Up</a></h4>
      <h3>If you already have an account, sign in below</p><hh3><a href="/login"> Sign In </a></h4>
  </body>
</html>