<!doctype html>
<html>
  <head>
    <title>Pool Tracker</title>
  </head>
  <style>A {text-decoration: none;}</style>
  <body>
    <nav>
      <% if Helper.logged_in?(session) %>

        <a href="/pools/new">New Pool </a>/
        <a href="/logout"> Log Out</a>
        <!--<p>Hello, <%= Helper.current_user(session).username %></p>-->

      <% else %>
        <a href="/signup">Sign Up </a>/
        <a href="/login"> Sign In</a>
      <% end %>


      <%= yield %> 

  </body>
</html>
